body {
    font-family:sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #000000;
    color: #ffffff;
    padding: 50px;
}

h1 {
    color: #ff7300;
    margin-bottom: 20px;
    font-family: 'Anton',sans-serif ;
    font-weight: 200;
}
h3 {
    color: #ffffff;
    margin-bottom: 20px;
    font-family: 'Teko',sans-serif ;
    font-weight: 700;
}
p {
    font-size: 18px;
    margin-bottom: 40px;
    color: #ffffff;
}

ul{
    list-style-position: inside;
 
}
li{
    font-size: 18px;
    margin-bottom: 40px;
    color: #ffffff;
    text-align: center;
}

.cta-button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 18px;
    color: #000000;
    background-color:#ff7300;
    text-decoration: none;
    border-radius: 5px;
}
.blackbg{
    background-color: #000000dc;
}
section {
    padding: 50px;
}

/* Different background colors for each section */
#home {
    background-color: #222222;
}

#about {
    background-color: #333333;
}

#facilities {
    background-color: #666666;
}

#career {
    background-color: #444444;
}

#contact {
    background-color: #555555;
}

h2 {
    color:#ff7300;
    margin-bottom: 20px;
}

/* Carousel Styles */
#carouselContainer {
    max-width: 600px;
    margin: 0 auto;
}

#carouselExample {
    margin-top: 30px;
}

/* Ensure images inside the carousel are responsive */
        #carouselExample img {
            max-width: 100%;
            height: auto;
        }

/* Responsive Styles */
@media only screen and (max-width: 768px) {
    header {
        padding: 30px;
    }
    h1 {
        font-size: 24px;
    }

    p {
        font-size: 16px;
    }

    .cta-button {
        font-size: 16px;
    }

    section {
        padding: 30px;
    }

    h2 {
        font-size: 20px;
    }
}
